@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@import "tailwindcss";

@tailwind utilities;

@layer base {
  button {
    @apply py-2 px-6 rounded-full text-white bg-[#ff8f08] text-base font-semibold;
  }

  .button2 {
    @apply text-white bg-transparent hover:bg-transparent border-none;
  }
}
  
  body{
    overflow-x: hidden;
  }

  h1, h3{
    font-weight: 700;
  }

  p, ul, li{
     font-weight: 400;
     font-size: 20px;
     line-height: normal;
  }
  ul{
    font-size: 16px;
  }
  button{
    font-weight: 500;
  }

